# Optional environment variables for postback-test service
# Set these in your OS environment before running docker-compose
# These are not to be used as a file

# TEST_HOST: The host to run tests
TEST_HOST=localhost:8000

