[Unit]
Description=Open Attribution Druid service
After=network.target

[Service]
User=druid
Group=druid
ExecStart=/home/james/apache-druid-27.0.0/bin/start-druid
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target

